.contact-page{
    padding: 2rem;
    text-align: center;
}

.contact-page h2{
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
}

.insta-contact{
    margin-top: 4rem;
}

.insta-contact img{
    height: 2rem;
    margin: 1rem 0;
}